// /* here you can put your own css to customize and override the theme */
//
// /* Carousel Item Background Images */
// .carousel-slider .carousel-item-one {
//     // background: url(img/frontend-slider/bg1.jpg);
//     background-size: cover;
//     background-position: center center;
// }
// .site-logo {
//     padding-top: 15px;
//     padding-bottom: 15px;
// }
// .slide-fade-enter-active {
//   transition: all 0.5s ease;
//
// }
// .slide-fade-leave-active {
//   transition: all 0.5s ease;
// }
// .slide-fade-enter, .slide-fade-leave-to
// /* .slide-fade-leave-active below version 2.1.8 */ {
//    transform: translateY(0px);
//    opacity: 0;
//
// }
//
// /* always present */
// .expand-transition {
//   transition: all .3s ease;
//   height: 30px;
//   padding: 10px;
//   background-color: #eee;
//   overflow: hidden;
// }
// /* .expand-enter defines the starting state for entering */
// /* .expand-leave defines the ending state for leaving */
// .expand-enter, .expand-leave {
//   height: 0;
//   padding: 0 10px;
//   opacity: 0;
// }

.notice-col{
    background-color: #f2f2f2;
    padding: 15px ;
}
.content-header {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.application-form {
    margin-top: 50px;
    background-color: #fff;
}
.c-content-feature-11 .c-grid > .c-grid-row > li: hover{
  cursor:pointer;
}
